Testing data combination

Locations

In [7]:
import pandas as pd
import numpy as np
import sys

In [7]:
loc = pd.read_excel('SUA_LatLong.xlsx')

In [16]:
loc

                    City  Population   Latitude   Longitude
0         Albury-Wodonga       82083 -36.099598  146.890448
1               Armidale       22469 -30.500218  151.527651
2                Ballina       23511 -28.834724  153.523194
3           Batemans Bay       15732 -35.708486  150.097108
4               Bathurst       32480 -33.418898  149.543281
..                   ...         ...        ...         ...
96            Launceston       82222 -41.433313  147.108953
97            Ulverstone       14110 -41.156908  146.058081
98         Alice Springs       25187 -23.699334  133.871397
99                Darwin      106257 -12.425530  130.793566
100  Canberra-Queanbeyan      391643 -35.316799  149.161898

[101 rows x 4 columns]

In [60]:
dictLoc={}
for i in range(len(loc)):
    dictLoc[loc.City[i].replace("-"," - ")]=[loc.Latitude[i],loc.Longitude[i]]
  #  print(loc.City[i],loc.Population[i],loc.Latitude[i],loc.Longitude[i])

In [61]:
dictLoc

{'Albury - Wodonga': [-36.0995976, 146.8904481],
 'Armidale': [-30.5002179, 151.527651],
 'Ballina': [-28.8347244, 153.5231937],
 'Batemans Bay': [-35.7084857, 150.0971084],
 'Bathurst': [-33.4188978, 149.5432807],
 'Bowral - Mittagong': [-34.4744912, 150.3106983],
 'Broken Hill': [-32.3454591, 140.5086536],
 'Camden Haven': [-31.6395587, 152.7264423],
 'Central Coast': [-33.3457842, 151.1629202],
 'Cessnock': [-32.8333143, 151.2972307],
 'Coffs Harbour': [-30.3082294, 153.0371917],
 'Dubbo': [-32.2790184, 148.0452376],
 'Forster - Tuncurry': [-32.196802, 152.4578467],
 'Goulburn': [-34.7445343, 149.6538647],
 'Grafton': [-29.6805925, 152.8980237],
 'Griffith': [-34.2734942, 145.9797076],
 'Kurri Kurri - Weston': [-32.8124651, 151.441842],
 'Lismore': [-28.8066574, 153.253042],
 'Lithgow': [-33.4752972, 150.0848782],
 'Morisset - Cooranbong': [-33.0859401, 151.4127553],
 'Muswellbrook': [-32.3096394, 150.6136519],
 'Nelson Bay - Corlette': [-32.7307828, 152.092468],
 'Newcastle - Maitland': [-32.8292823, 151.6322007],
 'Nowra - Bomaderry': [-34.8643486, 150.5704153],
 'Orange': [-33.2506771, 148.9220214],
 'Parkes': [-33.108347, 147.6963607],
 'Port Macquarie': [-31.4617789, 152.8238321],
 'Singleton': [-32.5688047, 151.1463268],
 'St Georges Basin - Sanctuary Point': [-35.1062955, 150.5232788],
 'Sydney': [-33.8458885, 150.3728926],
 'Tamworth': [-31.0929518, 150.9148434],
 'Taree': [-31.8910218, 152.3857637],
 'Ulladulla': [-35.3559154, 150.3879302],
 'Wagga Wagga': [-35.1379217, 147.2941683],
 'Wollongong': [-34.4281768, 150.8580243],
 'Bacchus Marsh': [-37.6690109, 144.3905488],
 'Bairnsdale': [-37.8529457, 147.4416426],
 'Ballarat': [-37.5670974, 143.7129995],
 'Bendigo': [-36.7561059, 144.2452182],
 'Colac': [-38.352882, 143.0],
 'Drysdale - Clifton Springs': [-38.163417, 144.5331585],
 'Echuca - Moama': [-36.0784839, 144.3975016],
 'Geelong': [-38.1481049, 144.3454142],
 'Gisborne - Macedon': [-37.456962, 144.4893053],
 'Horsham': [-36.7171872, 142.1612734],
 'Melbourne': [-37.9701606, 144.4940646],
 'Melton': [-37.6752894, 144.5376344],
 'Mildura - Wentworth': [-34.0386503, 141.7590932],
 'Moe - Newborough': [-38.1791682, 146.2029055],
 'Ocean Grove - Point Lonsdale': [-38.2626909, 144.5010165],
 'Sale': [-38.1057498, 146.9309423],
 'Shepparton - Mooroopna': [-36.4007973, 145.2605073],
 'Torquay': [-38.3124125, 144.2592798],
 'Traralgon - Morwell': [-38.2165825, 146.3624419],
 'Wangaratta': [-36.3650045, 146.1787904],
 'Warragul - Drouin': [-38.1459129, 145.7789716],
 'Warrnambool': [-38.369479, 142.3570934],
 'Brisbane': [-27.379809, 152.4341003],
 'Bundaberg': [-24.867638, 152.3344041],
 'Cairns': [-16.8801772, 145.5761461],
 'Emerald': [-23.5279805, 147.6218043],
 'Gladstone - Tannum Sands': [-23.931841, 151.1674195],
 'Gold Coast - Tweed Heads': [-28.1033247, 153.2372229],
 'Gympie': [-26.1833253, 152.5940564],
 'Hervey Bay': [-25.2895038, 152.5261392],
 'Highfields': [-27.4665645, 151.8802444],
 'Mackay': [-21.1433574, 149.147716],
 'Maryborough': [-25.5392231, 152.5606895],
 'Mount Isa': [-20.7257992, 139.4841643],
 'Rockhampton': [-23.3795922, 150.4920339],
 'Sunshine Coast': [-26.6056593, 152.7946504],
 'Toowoomba': [-27.5732159, 151.7871399],
 'Townsville': [-19.2598134, 146.8001776],
 'Warwick': [-28.216532, 151.9523059],
 'Yeppoon': [-23.1255286, 150.6997651],
 'Adelaide': [-34.999884, 138.3316851],
 'Mount Gambier': [-37.8261659, 140.7107759],
 'Murray Bridge': [-35.1292483, 139.1975058],
 'Port Augusta': [-32.4899696, 137.6235623],
 'Port Lincoln': [-34.7283752, 135.7822602],
 'Port Pirie': [-33.1706801, 137.9932076],
 'Victor Harbor - Goolwa': [-35.5178247, 138.6552361],
 'Whyalla': [-33.0381404, 137.5440368],
 'Albany': [-35.0257993, 117.8667401],
 'Broome': [-17.9585209, 122.2136767],
 'Bunbury': [-33.3190934, 115.6073422],
 'Busselton': [-33.6559312, 115.3320845],
 'Ellenbrook': [-31.7726356, 115.9193182],
 'Geraldton': [-28.7758955, 114.5937341],
 'Kalgoorlie - Boulder': [-30.7631894, 121.4487787],
 'Karratha': [-20.7348563, 116.8371036],
 'Perth': [-32.0376729, 115.4024504],
 'Port Hedland': [-20.3457318, 118.5598821],
 'Burnie - Wynyard': [-41.0353805, 145.7665872],
 'Devonport': [-41.175429, 146.3094509],
 'Hobart': [-42.8823074, 147.3110849],
 'Launceston': [-41.4333135, 147.1089532],
 'Ulverstone': [-41.1569076, 146.0580813],
 'Alice Springs': [-23.6993336, 133.8713966],
 'Darwin': [-12.4255296, 130.7935657],
 'Canberra - Queanbeyan': [-35.3167987, 149.1618976]}

In [21]:
dictLoc['Sydney']

[-33.8458885, 150.3728926]

Areas

In [22]:
areas = pd.read_excel('SUA_association_2016_2021.xlsx')

In [23]:
areas

,SUA_CODE_2016,SUA_NAME_2016,AREA_ALBERS_SQKM_2016,SUA_CODE_2021,SUA_NAME_2021,AREA_ALBERS_SQKM_2021,Reason for change
0,1000.0,Not in any Significant Urban Area (NSW),787692.8137,1000.0,Not in any Significant Urban Area (NSW),786334.6808,NaN
1,1001.0,Albury - Wodonga,628.2471,1001.0,Albury - Wodonga,628.2525,NaN
2,1002.0,Armidale,274.5995,1002.0,Armidale,274.5996,NaN
3,1003.0,Ballina,73.9758,1003.0,Ballina,480.5548,NaN
4,1004.0,Batemans Bay,94.3022,1004.0,Batemans Bay,94.3021,NaN
...,...,...,...,...,...,...,...
109,7002.0,Darwin,374.4346,7002.0,Darwin,378.0391,NaN
110,8000.0,Not in any Significant Urban Area (ACT),1897.2559,8000.0,Not in any Significant Urban Area (ACT),1879.4621,NaN
111,8001.0,Canberra - Queanbeyan,499.3443,8001.0,Canberra - Queanbeyan,517.0934,NaN
112,9000.0,Not in any Significant Urban Area (OT),256.3162,9000.0,Not in any Significant Urban Area (OT),255.7420,NaN
113,1026.0,Parkes,234.7556,NaN,NaN,NaN,Removed

In [52]:
dictCodeArea16={}
dictArea16={}
dictCodeArea21={}
dictArea21={}
for i in range(len(areas)):
    if str(areas.SUA_NAME_2016[i]).startswith("Not in any "):
        pass
    else:
        dictCodeArea16[areas.SUA_CODE_2016[i]]=areas.AREA_ALBERS_SQKM_2016[i]
        dictCodeArea21[areas.SUA_CODE_2016[i]]=areas.AREA_ALBERS_SQKM_2021[i]
        dictArea16[areas.SUA_NAME_2016[i]]=areas.AREA_ALBERS_SQKM_2016[i]
        dictArea21[areas.SUA_NAME_2021[i]]=areas.AREA_ALBERS_SQKM_2021[i]

Population

In [40]:
pop = pd.read_csv('pop-income2021.csv')

In [41]:
pop

                                         SUA  Population   Income
0    Not in any Significant Urban Area (NSW)     1022386  1022386
1                           Albury - Wodonga       97793    97793
2                                   Armidale       23967    23967
3                                    Ballina       46190    46190
4                               Batemans Bay       17524    17524
..                                       ...         ...      ...
106                            Alice Springs       25912    25912
107                                   Darwin      127215   127215
108  Not in any Significant Urban Area (ACT)        1666     1666
109                    Canberra - Queanbeyan      490517   490517
110   Not in any Significant Urban Area (OT)        4788     4788

[111 rows x 3 columns]

In [43]:
dictPop={}
dictIncome={}
for i in range(len(pop)):
    if pop.SUA[i].startswith("Not in any "):
        pass
    else:
        dictPop[pop.SUA[i]]=pop.Population[i]
        dictIncome[pop.SUA[i]]=pop.Income[i]

Checking intersections

In [62]:
for i in dictPop.keys():
    if i in dictLoc.keys():
        pass
    else:
        print(i)

Byron Bay
Kempsey
Medowie
Mudgee
Nelson Bay
Castlemaine
Gisborne
Mildura - Buronga
Portland
Swan Hill
Airlie Beach - Cannonvale
Gladstone
Kingaroy
Esperance
Burnie - Somerset

In [64]:
for i in dictLoc.keys():
    if i in dictPop.keys():
        pass
    else:
        print(i,dictLoc[i])

Cessnock [-32.8333143, 151.2972307]
Kurri Kurri - Weston [-32.8124651, 151.441842]
Nelson Bay - Corlette [-32.7307828, 152.092468]
Parkes [-33.108347, 147.6963607]
Drysdale - Clifton Springs [-38.163417, 144.5331585]
Gisborne - Macedon [-37.456962, 144.4893053]
Melton [-37.6752894, 144.5376344]
Mildura - Wentworth [-34.0386503, 141.7590932]
Ocean Grove - Point Lonsdale [-38.2626909, 144.5010165]
Torquay [-38.3124125, 144.2592798]
Gladstone - Tannum Sands [-23.931841, 151.1674195]
Highfields [-27.4665645, 151.8802444]
Ellenbrook [-31.7726356, 115.9193182]
Burnie - Wynyard [-41.0353805, 145.7665872]

Location attribution to 2021 data

In [81]:
def location(cities,dictLoc):
    """
returns an array of cities with location and and array of locations, found in dictLoc    
    """
    citiesLoc=[]
    locCities=[]
    for c in cities:
        if c in dictLoc.keys():
            citiesLoc.append(c)
            locCities.append(dictLoc[c])
        else:
            for i in dictLoc.keys():
                if i[:5] == c[:5]:
                 #   print(c,"\t => \t",i)
                    citiesLoc.append(c)
                    locCities.append(dictLoc[i])
    return(citiesLoc,locCities)

In [83]:
cg,lg = location(dictPop.keys(),dictLoc)

In [84]:
len(cg)

92

In [85]:
len(dictPop.keys())

102

In [116]:
def dictIncomeAndPopulation():
#     pop = pd.read_csv('../data/australia/raw_data/pop-income2021.csv')
    pop = pd.read_csv('pop-income2021.csv')
    dictIncome={}
    dictPop={}
    for i in range(len(pop)):
        if pop.SUA[i].startswith("Not in any "):
            pass
        else:
            dictPop[pop.SUA[i]]=pop.Population[i]
            dictIncome[pop.SUA[i]]=pop.Income[i]
    return(dictIncome,dictPop)


def income():
    dictI,dictP=dictIncomeAndPopulation()
    x,y=[],[]
    for c in dictP.keys():
        x.append(dictP[c])
        y.append(dictI[c])
    return np.array(x),np.array(y)

In [119]:
a,b=dictIncomeAndPopulation()

In [122]:
a

{'Albury - Wodonga': 97793,
 'Armidale': 23967,
 'Ballina': 46190,
 'Batemans Bay': 17524,
 'Bathurst': 37396,
 'Bowral - Mittagong': 41600,
 'Broken Hill': 17588,
 'Byron Bay': 10914,
 'Camden Haven': 18484,
 'Central Coast': 343180,
 'Coffs Harbour': 74195,
 'Dubbo': 40578,
 'Forster - Tuncurry': 21087,
 'Goulburn': 24565,
 'Grafton': 19255,
 'Griffith': 20569,
 'Kempsey': 15654,
 'Lismore': 28816,
 'Lithgow': 12385,
 'Medowie': 15020,
 'Morisset - Cooranbong': 27828,
 'Mudgee': 12563,
 'Muswellbrook': 12272,
 'Nelson Bay': 28418,
 'Newcastle - Maitland': 508437,
 'Nowra - Bomaderry': 38678,
 'Orange': 41920,
 'Port Macquarie': 50193,
 'Singleton': 17018,
 'St Georges Basin - Sanctuary Point': 20105,
 'Sydney': 4830047,
 'Tamworth': 43874,
 'Taree': 26519,
 'Ulladulla': 17026,
 'Wagga Wagga': 57003,
 'Wollongong': 305691,
 'Bacchus Marsh': 24717,
 'Bairnsdale': 15684,
 'Ballarat': 111973,
 'Bendigo': 103034,
 'Castlemaine': 11352,
 'Colac': 12756,
 'Echuca - Moama': 22568,
 'Geelong': 289630,
 'Gisborne': 22200,
 'Horsham': 16985,
 'Melbourne': 4817843,
 'Mildura - Buronga': 53620,
 'Moe - Newborough': 21997,
 'Portland': 11230,
 'Sale': 15301,
 'Shepparton - Mooroopna': 53841,
 'Swan Hill': 11186,
 'Traralgon - Morwell': 43252,
 'Wangaratta': 19882,
 'Warragul - Drouin': 42827,
 'Warrnambool': 35743,
 'Airlie Beach - Cannonvale': 14523,
 'Brisbane': 2447280,
 'Bundaberg': 73747,
 'Cairns': 153425,
 'Emerald': 14089,
 'Gladstone': 45185,
 'Gold Coast - Tweed Heads': 693596,
 'Gympie': 22424,
 'Hervey Bay': 57722,
 'Kingaroy': 10545,
 'Mackay': 84333,
 'Maryborough': 27489,
 'Mount Isa': 18317,
 'Rockhampton': 79293,
 'Sunshine Coast': 382903,
 'Toowoomba': 142163,
 'Townsville': 179011,
 'Warwick': 15525,
 'Yeppoon': 20244,
 'Adelaide': 1368209,
 'Mount Gambier': 29446,
 'Murray Bridge': 18243,
 'Port Augusta': 13515,
 'Port Lincoln': 16307,
 'Port Pirie': 13896,
 'Victor Harbor - Goolwa': 28363,
 'Whyalla': 21154,
 'Albany': 35053,
 'Broome': 14660,
 'Bunbury': 76452,
 'Busselton': 40544,
 'Esperance': 12003,
 'Geraldton': 38595,
 'Kalgoorlie - Boulder': 29072,
 'Karratha': 17013,
 'Perth': 2098239,
 'Port Hedland': 15298,
 'Burnie - Somerset': 27826,
 'Devonport': 31721,
 'Hobart': 226653,
 'Launceston': 90953,
 'Ulverstone': 15086,
 'Alice Springs': 25912,
 'Darwin': 127215,
 'Canberra - Queanbeyan': 490517}

In [118]:
b

array([  97793,   23967,   46190,   17524,   37396,   41600,   17588,
         10914,   18484,  343180,   74195,   40578,   21087,   24565,
         19255,   20569,   15654,   28816,   12385,   15020,   27828,
         12563,   12272,   28418,  508437,   38678,   41920,   50193,
         17018,   20105, 4830047,   43874,   26519,   17026,   57003,
        305691,   24717,   15684,  111973,  103034,   11352,   12756,
         22568,  289630,   22200,   16985, 4817843,   53620,   21997,
         11230,   15301,   53841,   11186,   43252,   19882,   42827,
         35743,   14523, 2447280,   73747,  153425,   14089,   45185,
        693596,   22424,   57722,   10545,   84333,   27489,   18317,
         79293,  382903,  142163,  179011,   15525,   20244, 1368209,
         29446,   18243,   13515,   16307,   13896,   28363,   21154,
         35053,   14660,   76452,   40544,   12003,   38595,   29072,
         17013, 2098239,   15298,   27826,   31721,  226653,   90953,
         15086,   25912,  127215,  490517])

In [124]:
pop = pd.read_csv('pop-income2021.csv')

In [126]:
pop.Population

0      1022386
1        97793
2        23967
3        46190
4        17524
        ...
106      25912
107     127215
108       1666
109     490517
110       4788
Name: Population, Length: 111, dtype: int64